.col{
    margin: 10px;
}
.info{
    background-color: #3a7ab7;
    color: #fff;
    padding: 30px;
}

.info h1{
    font-size: 72px;
}

.info p{
    font-size: 24px;
}

.image{
    height: 300px;
}

ul {
    list-style-type: none;
    margin: 30px;
    padding: 60px;
    font-size: 24px;
}

.fbform{
    background-color: #3a7ab7;
}

.pictures {
    padding-bottom: 30px;
}
