body {
    font-family: 'Kalnia', serif;
    font-weight: 400;
    background-color: #393E46;
    color: #EEEEEE;
}

.main-line {
    font-weight: 700;
}

.first-row {
    width: 100%;
    background-color: #222831;
    align-items: end;
    margin: 0px;
    padding: 0px;
}

.fix {
    padding-left: 0px;
}

.second-row {
    width: 100%;
    background-color: #EEEEEE;
    align-items: end;
    margin: 0px;
    padding: 0px;
    color: #222831;
}

.my-btn {
    background-color: #00ADB5;
    color: #EEEEEE;
    border-color: #00ADB5;
}
