body {
    font-family: 'Kalnia', serif;
    font-weight: 200;
}

.main-line {
    font-weight: 700;
    font-size: 128px;
}

.first-row {
    width: 100%;
    background-color: #67729D;
    height: 300px;
    align-items: end;
}
